<?xml version="1.0"?>
<!DOCTYPE mycat:schema SYSTEM "schema.dtd">
<mycat:schema xmlns:mycat="http://io.mycat/">

	<schema name="yungui" checkSQLschema="false" sqlMaxLimit="100">
                <table name="zuolog" primaryKey="id" autoIncrement="true"  dataNode="dn1,dn2,dn3" rule="mod-long" /> 
                <table name="tt1"    primaryKey="id" autoIncrement="true"  dataNode="dn1,dn2,dn3" rule="mod-long" /> 
                <table name="employee" primaryKey="ID" autoIncrement="true"  dataNode="dn1,dn2" rule="sharding-by-intfile" />
	</schema>

	<dataNode name="dn1" dataHost="192.168.200.100" database="db1" />
	<dataNode name="dn2" dataHost="192.168.200.101" database="db2" />
	<dataNode name="dn3" dataHost="192.168.200.102" database="db3" />

	<dataHost name="192.168.200.100" maxCon="1000" minCon="10" balance="0" 
                  writeType="0" dbType="mysql" dbDriver="native" switchType="1"  slaveThreshold="100">
		<heartbeat>select user()</heartbeat>
                <writeHost host="hostM1" url="192.168.200.100:3306" user="dba" password="123456"></writeHost>
	</dataHost>

	<dataHost name="192.168.200.101" maxCon="1000" minCon="10" balance="0" 
                  writeType="0" dbType="mysql" dbDriver="native" switchType="1"  slaveThreshold="100">
		<heartbeat>select user()</heartbeat>
                <writeHost host="hostM1" url="192.168.200.101:3306" user="dba" password="123456"></writeHost>
	</dataHost>

	<dataHost name="192.168.200.102" maxCon="1000" minCon="10" balance="0" 
                  writeType="0" dbType="mysql" dbDriver="native" switchType="1"  slaveThreshold="100">
		<heartbeat>select user()</heartbeat>
                <writeHost host="hostM1" url="192.168.200.102:3306" user="dba" password="123456"></writeHost>
	</dataHost>
</mycat:schema>
